// font-family

$font-family: "Poppins", sans-serif;
$second-family: "Tinos", sans-serif;
$third-family: "Raleway", sans-serif;

// Colours

$orange: #ff8a00;
$darkOrange: #311f09;
$green: #3fa72f;
$white: #fff;